<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css">
	<style type="text/css">
		body{
			padding-top: 40px;
		}
	</style>
</head>
<body>
	<div id="app" class="container">
		<message>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur, orci in bibendum tristique, enim lorem convallis metus, et tincidunt massa tortor vel nulla.
		</message>
	</div>
	<script src="https://unpkg.com/vue"></script>
	<script src="message.js"></script>
</body>
</html>