<!DOCTYPE html>
<html>
<head>
	<title>Decimal binary converter</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.css">
</head>
<body>
	<div id="app">
		<section class="hero is-success is-fullheight">
			<div class="hero-body">
			    <div class="container has-text-centered">
			    	<h1 class="title">
			        	BinaryDecimal
			    	</h1>
			    	<div class="field">
			    		<div class="control">
			    			<input v-model="decimal" type="text" class="input" placeholder="Decimal">
			    		</div>
			    	</div>
			    	<div class="field">
			    		<div class="control">
			    			<input v-model="binary" type="text" class="input" placeholder="Binary">
			    		</div>
			    	</div>
			    </div>
			</div>
		</section>
	</div>
	<script src="https://unpkg.com/vue"></script>
	<script src="index.js"></script>
</body>
</html>